@import 'variables.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


a {
	color: $primaryColor;
	text-decoration: none;
}

html,
body,
#app {
	height: 100%;
	background: #fafafa;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.line {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 20px;

	&--block {
		display: block;
	}
}