$primaryColor: #6979f8;
$primaryHover: #a5affb;
$secondColor: #be52f2;
$secondHover: #dba5f5;
$successColor: #00c48c;
$successHover: #7ddfc3;
$infoColor: #0084f4;
$infoHover: #66b5f8;
$warningColor: #ffa26b;
$warningHover: #ffc7a6;
$dangerColor: #ff647c;
$dangerHover: #fdafbb;



$boxShadow: 0 0 10px rgba(0, 0, 0, 0.07);
$baseTransition: .2s ease-in-out;